<header class="app-header">
  <div class="header-left">
    <button class="menu-toggle" (click)="toggleMenu()">
      <span>☰</span>
    </button>
    
    <span class="app-title">Controle de Fichas</span>
  </div>
  <div class="header-right">
    <div *ngIf="currentUser$ | async as user" class="user-profile">
      <span class="user-name">{{ user.name }}</span>
      <div class="user-avatar" [title]="'Usuário: ' + user.name + '\nEmail: ' + user.email">
        <span>{{ user.name | slice:0:1 }}</span>
        
        <!-- Tooltip personalizado -->
        <div class="user-tooltip">
          <div class="tooltip-item">
            <span class="tooltip-value">{{ user.name }}</span>
          </div>
          <div class="tooltip-item">
            <span class="tooltip-value">{{ user.email }}</span>
          </div>
        </div>
      </div>
      <button class="logout-button" (click)="logout()">
        <span>Sair</span>
      </button>
    </div>
  </div>
</header>
